/* Styling for the filter panel container */
.filter-panel {
  background-color: #f5f5f5;
  margin: 16px 0;
  max-height: 100px; /* Adjust the max height as needed */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

/* Styling for the "filters" heading */
.filter-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Styling for applied facets container */
.applied-facets {
  margin-bottom: 16px;
}

/* Styling for individual applied facet items */
.facets-panel-item {
  display: inline-block;
  margin-right: 8px;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  color: #333;
}

/* Styling for the remove filter button */
.remove-filter-button {
  background: none;
  border: none;
  font-size: 14px;
  color: #e53935; /* Red color for the button */
  cursor: pointer;
  margin-left: 4px;
}

/* Styling for the facet categories container */
.facet-categories {
  font-size: 14px;
}

/* Styling for the filter section title */
.filter-section-title {
  background-color: #f5f5f5;
  color: #131313;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .0025em;
  line-height: 20px;
  padding: 1rem 0;
  text-transform: capitalize;
}

.filter-section-title span{
  margin-right: 150px;
}

.filter-section-title:after {
  display: inline-block;
  background-image: 	url("../images/accordion.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  content: "";
  flex-shrink: 0;
  height: 1rem;
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
  width: 1.25rem;
}

/* Styling for the facets panel list */
.facets-panel-list {
  list-style: none;
  padding: 0;
  max-height: 200px; /* Adjust the max height as needed */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

/* Styling for individual facet labels */
.label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 5px 0;
  margin: 0;
}

/* Styling for the facet checkbox input */
input[type="checkbox"] {
  margin-right: 8px;
}

/* Styling for the facet count */
.filterCount {
  margin-left: 8px;
  color: #777;
}

/* Add styles for the expanded state */
.filter-panel.expanded {
  max-height: none;
}

/* Styles for the arrow button */
.expand-button {
  float: right;
  font-size: 18px;
  line-height: 1;
  padding: 0 10px;
  cursor: pointer;
}

/* Add styles for the expanded state of the author list */
.facets-panel-list.expanded {
  max-height: none;
}

.accordion{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}