/* Homepage.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  
  
  /* Hero Section Styles */
  .hero-section {
    background-image: url('../images/homepage.png'); /* Add your background image */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #ff9900;
  }
  
  /* Featured Products Section Styles */
  .featured-products {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .featured-products h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Footer Styles */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Responsive Styles (you can add media queries as needed) */
  @media (max-width: 768px) {
  
    .hero-content h1 {
      font-size: 24px;
    }
  
    .hero-content p {
      font-size: 16px;
    }
  }

  .body-content{
    padding-top: 180px;
  }

  .homepage-container .body-content{
    padding-left: 0px;
    padding-right: 0px;
  }