.search-header{
    background-color: #777c81c2;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

.search-header input{
    height: 15px;
    padding: 10px;
    font-size: 16px; 
    border: 1px solid #ccc;
    width: 40%;
}

.search-header p{
    font-size: 30px;
    font-weight: bold;
}

.account-icon, .cart-icon, .nav-icon{
    height: 30px;
    width: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.logo img {
    max-width: 100px;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-menu li a:hover {
    color: #394453;
  }

  /* Responsive Styles (you can add media queries as needed) */
@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-menu {
      margin-top: 20px;
    }
}
