.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .pagination button {
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .pagination li:hover {
    background-color: #ddd;
  }
  
  .pagination button:disabled {
    background-color: #c7c7c7;
    opacity: 0.3;
    cursor: not-allowed;
  }
  
  .pagination input {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: white;
    width: 60px;
    height: 16px;
    color: black;
    font-size: 16px;
    border: 1px solid black;
  }

  .itemsDropdown {
    margin-left: 20px;
    padding-top: 5px;
    letter-spacing: 0.24px;
    font-size: 14px;
  }

  #itemsPerPage{
    margin: 0 5px;
    color: black;
    width: 45px;
    padding: 1px;
    border: 1px solid black;
  }

  .page-display {
    color: hsla(0,0%,7%,.8);
    font-size: 14px !important;
    letter-spacing: .0025em;
    line-height: 22px;
}

.pageNumbers{
  padding-top: 15px;;
 display: flex;
 flex-direction: row;
}
 .pageNumbers li.numbers{
  padding-left: 10px;
  padding-right: 10px;
 }

 .pageNumbers li{
  font-weight: bold;
 }

 .prev{
  margin-left: auto;
  padding-right: 20px;
  margin-right: 10px;
 }

 .next{
  padding-left: 20px;
  margin-left: 10px;
 }

 .current-page {
  background-color: #333;
 }

 .current-page button{
  color: #fff;
 }

 .ellipsis{
  padding-left: 0px;
  padding-right: 0px;
 }